table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  th{
    padding: 10px;
  }
  td{
  padding: 6px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-dashboard {
    float: left;
    width: 20%!important;
    padding: 10px;
    margin-left: 50px;
    }

  .qty {
      width: 65px;
      height: 25px;
      text-align: center;
      padding-bottom: 18px;
      padding-top: 12px;
    }
      
  input.qtyplus, input.qtyminus{
      width:26px;
      height:26px;
      padding-bottom: 30px;
      background-color: #A8B3D0;
      border-style: none;
    }

  .column-nho {
        float: left;
        padding: 10px;
        margin-left: 50px;
      }
      .new-row input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
  .new-row input[type="checkbox"] {
    margin: 0;
  }
  
  .new-row input[type="number"] {
    width: 100%;
  }
  
  .new-row input[type="date"] {
    width: 100%;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-sp{
  color:black;
  text-decoration: none;
  font-weight: 500;
}

.error-noti {
  color: red;
}