.body {
  font-family: sans-serif;
}
html{
  overflow-x: hidden;
}
.header {
    background-color: #A8B3D0;
    height: 120px;
    position: sticky;
}

.logo {
    margin-top: 12px;
    margin-left:25px;
    float: left;
}

* {
  box-sizing: border-box;
}

form.example {
  margin-top:20px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 10px 0px 0px 10px;
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #5168A1;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.header .dangnhap-dangki {
    float: inherit;
}

.dang-nhap{
    float: inherit;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-top:21px;
    background-color: #5168A1;
    padding: 10px;
    border-radius: 20px;
}
.dang-nhap:hover {
  background-color: white;
  color: #5168A1;
}

.cart {
    float: inherit;
    margin-top: 30px;
    padding-left: 10px;
}

.header-bottom1 {
    background-color: #5168A1;
    overflow: hidden;
}

.header-bottom-base {
  background-color: #5168A1;
  overflow: hidden;
  margin-bottom: 25px;
}

.header-bottom-client {
  background-color: #5168A1;
  overflow: hidden;
}

.bot-item {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 120px;
    padding: 6px;
}
.bot-item:hover{
  background-color: white;
  border-radius: 5px;
  color: #2D1476
}

.text-white{
text-decoration: none;
}
.footer{
margin-top: 50px;
}

/* equal columns that floats next to each other */
.header .column-1  {
  float: left;
  width: 20%;
  padding: 10px;
  height: 120px;
}
.header .column-2  {
  float: left;
  width: 55%;
  padding: 10px;
  height: 120px;
}
.header .column-3  {
  float: left;
  width: 10%;
  padding: 10px;
  height: 120px; 
}
.header .column-4  {
  float: left;
  width: 8%;
  padding: 10px;
  height: 120px;
}

.header .column-5  {
  float: left;
  width: 7%;
  padding: 10px;
  height: 120px; 
}
.dangnhap-dangki:hover .logout {display: block;}


/* Clear floats after the columns */
.header .row:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------HOME-------- */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 10px;
}
.mySlides{
  margin-bottom: 50px;
  height: 500px;
}
.menu{
  text-decoration: none;
  color: black;
}

  
  .sp-noi-bat{
  background-color: #A8B3D0;
  height: 700px;
  margin-bottom:50px;
  border-radius: 5px;
  }
  
  .sp-moi{
  background-color: #A8B3D0;
  height: 700px;
  margin-bottom:50px;
  border-radius: 5px;
  }
  
  .tieu-de{
  text-align: center;
  color: #FFFFFF;
  text-decoration: underline;
  padding: 10px;
  font-size: 22px;
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 535px;
  margin: auto;
  text-align: center;
  font-family: arial;
  }
  
  .price {
  color: #3E526D;
  font-size: 20px;
  font-weight: bold;
  }
  
  .card button, .card .btn-detail, .card .btn-add-to-cart{
  border: none;
  padding: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
  margin: auto;
  margin-bottom:10px;
  display: block;
  }
  .card .btn-detail{
    background-color:#091B59;
  }
  .card .btn-add-to-cart{
    background-color: #5168A1;
  }
  
  .card .btn-detail:hover,  .card .btn-add-to-cart:hover{
  opacity: 0.7;
  }
  
  /* Clear floats after the columns */
  .sp-noi-bat .row:after {
  content: "";
  display: table;
  clear: both;
  } 

  .column-product {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    display: table;
    margin-bottom: 20px;
    }
    
    /* Clear floats after the columns */
    .sp-moi .row:after {
    content: "";
    display: table;
    clear: both;
    } 
  
  #ten-nhan-hang{
  float: left;
  width: 15%;
  padding: 10px;
  margin-left: 65px;
  }
  #row-nhan-hang:after {
  content: "";
  display: table;
  clear: both;
  }
  .nhan-hang{
    background-color: #D3D3D3;
  }

  .error-noti {
    color: red;
    margin-left: 200px;
  }

  .column-sales {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    display: table;
    margin-bottom: 20px;
    }

    #zoom {
      transition: transform .2s;
      margin: 0 auto;
    }
    
    #zoom:hover {
      -ms-transform: scale(1.05); /* IE 9 */
      -webkit-transform: scale(1.05); /* Safari 3-8 */
      transform: scale(1.05); 
    }


    /* ---------CLIENT INFO---------------- */

    .sidebar-client {
      width: 250px;
      background-color: #f1f1f1;
      height: 1000px;
      float: left;
    }
    
    .sidebar-client a {
      display: block;
      color: black;
      padding: 18px;
      margin-right: -12px;
      text-decoration: none;
    }
     
    .sidebar-client a.active {
      background-color: #7B89E6;
      color: white;
    }
    
    .sidebar-client a:hover:not(.active) {
      background-color:#A8B3D0;
      color: white;
    }
    
    div.content-info {
      padding: 1px 16px;
      height: 1000px;
      float: left;
      width: 80%;
    }
    
    @media screen and (max-width: 700px) {
      .sidebar-client {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar-client a {float: left;}
      div.content-info {margin-left: 0;}
    }
    
    @media screen and (max-width: 400px) {
      .sidebar-client a {
        text-align: center;
        float: none;
      }
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .khuyen-mai{
      width: 50px;
      background-color: red;
      color: white;
      position: absolute;
      text-align: center;
      border-radius: 50px;
      left: 10px;
      top: 10px;
      padding-top: 10px;
      padding-left: 2px;
    }

    #old-price{
      text-decoration: line-through;
      color: red;
    }
    #old-price:hover{
      color: red;
    }

    #new-price{
      text-decoration: none;
      padding-bottom: 10px;
    }
    #new-price:hover{
      color: #3E526D;
    }


/* ===HEADING STYLE=== */

.cf-title h3 {
	text-align:center;
	text-transform:uppercase;
	padding-bottom:5px;
}
.cf-title h3:after {
	width:100px;
	height:2px;
	display:block;
	content:"";
	position:relative;
	margin-top:10px;
	left:50%;
	margin-left:-50px;
	background-color: #b80000;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th{
  padding: 10px;
}
td{
padding: 6px;
}



.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: fixed;
  bottom: 50px;
  left: 40%;
  z-index: 5;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.quantity-in-cart{
  width: 24px;
  background-color: red;
  color: white;
  position: absolute;
  text-align: center;
  border-radius: 50px;
  right: 148px;
  top: 62px;
  height: 24px;
  font-size: 13px;
  padding: 1px;
}

.xem-them{
  border: none;
  padding: 5px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
  margin: auto;
  margin-bottom:10px;
  color:#0a1746;
  display: block;
}

.xem-them:hover{
  opacity: 0.7;
  color:black;
  }

.nhan-hang-hover:hover{
  cursor: pointer;
  filter: grayscale(50%);
}

.voucher-selector{
  border: 1px solid #ccc;
}
.name-voucher{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  font-weight: bold;
}
.voucher-checkbox{
margin-left: 50px;
}
.voucher-container{
  position: relative;
  text-align: center;
  color: white;
}

.quantity-in-fav{
  width: 24px;
    background-color: pink;
    color: red;
    position: absolute;
    text-align: center;
    border-radius: 50px;
    right: 34px;
    top: 62px;
    height: 24px;
    font-size: 13px;
    padding: 1px;
    font-weight: bold;
}

.ten-sp{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
}

.bat-buoc{
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.format-img{
  width: 450px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.text-sp{
  color:black;
  text-decoration: none;
  font-weight: 500;
}